<launch>

  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="5.0"/>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mai_sim)/rviz/model.rviz"/> -->

  <!-- Cameras -->
  <!-- left-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera1" />
        <!-- <arg name="tf_prefix" value="$(arg camera)"/> -->
        <arg name="serial_no" value="048122072409" /> 
        <arg name="align_depth" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
        <arg name="reconnect_timeout" value="10"/>
        <arg name="json_file_path"      value="/home/natanan/fps15.json"/>

        <!-- <arg name="depth_width"         default="1280"/>
        <arg name="depth_height"        default="720"/>
        <arg name="color_fps" value="15" />
        <arg name="depth_fps" value="15" /> -->
        
    </include>
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera1_link"
    args="0.0 -0.07 1 0.0 0.0 -1.57079632679 base_link camera1_link 100" /> -->

    <!--front-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera2" />
        <arg name="serial_no" value="047422070014" /> 
        <arg name="align_depth" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
        <arg name="reconnect_timeout" value="10"/>
        <arg name="json_file_path"      value="/home/natanan/fps15.json"/>

        <!-- <arg name="depth_width"         default="1280"/>
        <arg name="depth_height"        default="720"/>
        <arg name="color_fps" value="15" />
        <arg name="depth_fps" value="15" /> -->
    </include>
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera2_link"
    args="-0.07 0.0 1 0.0 0.0 3.1415926535897931 base_link camera2_link 100" /> -->

    <!--right-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera3" />
        <arg name="serial_no" value="048322071579" />
        <arg name="align_depth" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
        <arg name="reconnect_timeout" value="10"/>
        <arg name="json_file_path"      value="/home/natanan/fps15.json"/>

        <!-- <arg name="depth_width"         default="1280"/>
        <arg name="depth_height"        default="720"/>
        <arg name="color_fps" value="15" />
        <arg name="depth_fps" value="15" /> -->
    </include>
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera3_link"
    args="0.0 0.07 1 0.0 0.0 1.57079632679 base_link camera3_link 100" /> -->

    <!--back-->
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera4" />
        <arg name="serial_no" value="048122071755" />
        <arg name="align_depth" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
    </include> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera4_link"
    args="0.07 0.0 1 0.0 0.0 0 base_link camera4_link 100" /> -->
    <arg name="cam1_ready"      default="false" />
    <arg name="cam2_ready"      default="false" />
    <arg name="cam3_ready"      default="false" />

    <!-- sync rgb/depth images per camera -->
   <group ns="camera1">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager1" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="rgbd_sync1" args="load rtabmap_ros/rgbd_sync nodelet_manager1">
      <remap from="rgb/image"       to="color/image_raw"/>
      <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="color/camera_info"/>
      <param name="approx"          value="false"/>
      <!-- <arg name="cam1_ready"       value="true" /> -->
    </node>
   </group>

   <group ns="camera2">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager2" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="rgbd_sync2" args="load rtabmap_ros/rgbd_sync nodelet_manager2">
      <remap from="rgb/image"       to="color/image_raw"/>
      <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="color/camera_info"/>
      <param name="approx"          value="false"/>
      <!-- <arg name="cam2_ready"       value="true" /> -->
    </node>
   </group>

   <group ns="camera3">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager3" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="rgbd_sync3" args="load rtabmap_ros/rgbd_sync nodelet_manager3">
      <remap from="rgb/image"       to="color/image_raw"/>
      <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="color/camera_info"/>
      <param name="approx"          value="false"/>
      <!-- <arg name="cam3_ready"       value="true" /> -->
    </node>
   </group>
   <!-- <group ns="camera4">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager4" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="rgbd_sync4" args="load rtabmap_ros/rgbd_sync nodelet_manager4">
      <remap from="rgb/image"       to="color/image_raw"/>
      <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="color/camera_info"/>
      <param name="approx"          value="false"/>
    </nodex
   </group> -->

  <group if ="$(arg cam1_ready)">
    <group if ="$(arg cam2_ready)"> 
      <group if = "$(arg cam3_ready)">
        <include  file="$(find joy_pkg)/launch/control_robot.launch" />
      </group>
    </group>
  </group>
   
</launch>