<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mai_sim)/urdf/test_rs.urdf.xacro' use_nominal_extrinsics:=true" />
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

    <arg name="use_tf_static" default="true"/> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="use_tf_static" value="$(arg use_tf_static)"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>


    <!-- <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_description)/rviz/urdf.rviz" required="true" /> -->

    <!-- Cameras -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera1" />
        <arg name="serial_no" value="048122072409" />
        <arg name="align_depth" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera2" />
        <arg name="serial_no" value="048322071579" />
        <arg name="align_depth" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
    </include>

    <!-- sync rgb/depth images per camera -->
   <group ns="camera1">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager1" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="rgbd_sync1" args="load rtabmap_ros/rgbd_sync nodelet_manager1">
      <remap from="rgb/image"       to="color/image_raw"/>
      <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="color/camera_info"/>
      <remap from="imu" to="/imu"/>
      <param name="approx"          value="false"/>
      <param name="wait_imu_to_init"          value="true"/>
    </node>
   </group>
   <group ns="camera2">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager2" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="rgbd_sync2" args="load rtabmap_ros/rgbd_sync nodelet_manager2">
      <remap from="rgb/image"       to="color/image_raw"/>
      <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="color/camera_info"/>
      <remap from="imu" to="/imu"/>
      <param name="approx"          value="false"/>
      <param name="wait_imu_to_init"          value="true"/>
    </node>
   </group>
</launch>